@media all and (max-width:1200px){
  .inner {
    max-width: initial;
    overflow: hidden;
  } 
  .header h1 a {
    padding-left: 50px;
  }
  .header .gnb {
    display: none;
  }
  .header .etc {
    right: 100px;
  }
  .toggle {
    display: block;
  }
  .toggle > a.toggle_open {
    width: 83px;
    height: 83px;
    background: #176a8d url('../images/header-toggle_open.png') no-repeat center;
    position: absolute;
    top: 0;
    right: 0;
  }
  .menu {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(23,106,141,0.95);
    z-index: 100;
    overflow-y: auto;
  }
  .header .toggle_header .toggle_close {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 83px;
    height: 83px;
    background: url('../images/header-toggle_close.png') no-repeat center;
  }
  .header .toggle_gnb {
    width: 100%;
    padding: 83px 0 0;
    height: 100%;
  }
  .header .toggle_gnb > ul {
    font-size: 0;
    height: 100%;
    padding: 0 80px;
  }
  .header .toggle_gnb > ul > li > a {
    display: block;
    width: 140px;
    font-size: 28px;
    color:#fff;
    font-weight: bold;
    clear: both;
  }
  .header .toggle_gnb > ul > li > h2 {
    display: none;
  }
  .header .toggle_gnb > ul > li > ul {
    display: block;
  }
  .header .toggle_gnb > ul > li > ul > li {
    float: left;
  }
  .header .toggle_gnb > ul > li > ul > li > a {
    display: block;
    font-size: 18px;
    color: #fff;
    padding: 10px;
  }
  .header .toggle_gnb > ul > li > ul > li > a:hover {
    text-decoration: underline;
  }
  .section01 {
    height: 100vh;
  }
  .section01 .slide,
  .section01 .slide-ul,
  .section01 .slide-ul .slick-list,
  .section01 .slide-ul .slick-track,
  .section01 .slick-slide > div,
  .section01 .slide-li {
    height: 100%;
  }
  .section01 .slide-li {
    position: relative;
  }
  .section01 .slide-li .txt {
    width: calc(100% - 50px);
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    padding: 0;
  }
  .section02 .cont ul {
    width: 100%;
  }
  .section02 .cont ul li {
    width: 25%;
  }
  .section02 .cont ul li a {
    width: 95%;
    height: 300px;
    margin: 0 2.5%;
  }
  .section02 .cont ul li a .info {
    width: 100%;
  }
  .section04 .right > div {
    padding: 0 10px;
    box-sizing: border-box;
  }
  section .tit p {
    padding: 10px 10px 0;
  }
  .section06 .inner {
    height: 75px;
  }
  .section06 .banner {
    width: 100%;
  }
  .footer .flogo {
    padding-left: 50px;
  }
}
@media all and (max-width:1024px){
  .header .toggle_gnb > ul {
    padding: 0 50px;
  }
  .header .toggle_gnb > ul > li > a {
    display: none;
  }
  .header .toggle_gnb > ul > li > h2 {
    display: block;
    width: 140px;
    font-size: 28px;
    color: #fff;
    margin: 0 auto;
    clear: both;
    cursor: pointer;
    text-align: center;
  }
  .header .toggle_gnb > ul > li > ul {
    text-align: center;
  }
  .header .toggle_gnb > ul > li > ul > li {
    float: none;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }
  .section02 .cont ul li {
    width: 50%;
  }
  .section02 .cont ul li:nth-child(1),
  .section02 .cont ul li:nth-child(2) {
    margin: 0 0 10px 0;
  }
  .section02 .cont ul li a {
    height: 500px;
  }
  .section02 .cont ul li strong {
    font-size: 28px;
  }
  .section02 .cont ul li p {
    font-size: 22px;
  }
  .section02 .cont ul li a .info {
    opacity: 1;
  }
  .section02 .cont ul li a:before {
    background-color: rgba(0,0,0,0.3);
    opacity: 1;
  }
  .section02 .cont ul li a:hover:before {
    opacity: 1;
  }
  .section03 .cont .slick-arrow {
    width: 50px;
    height: 50px;
  }
}
@media all and (max-width: 768px){
  .section01 .slick-dots {
    bottom: 20px;
  }
  .section02,
  .section03,
  .section04,
  .section05 {
    margin: 50px 0 0;
  }
  .section02 .cont ul li {
    width: 100%;
  }
  .section02 .cont ul li:nth-child(3),
  .section02 .cont ul li:nth-child(4) {
    margin: 0 0 10px 0;
  }
  .section02 .cont ul li a {
    height: 600px;
  }
  .section02 .cont ul li strong {
    font-size: 30px;
  }
  .section02 .cont ul li p {
    font-size: 24px;
    margin-top: 20px;
  }
  .section04 .left,
  .section04 .right {
    width: 100%;
    float: none;
    font-size: 0;
    height: 300px;
  }
  .section04 .right > div {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
  }
  .section04 .more {
    margin: 0 auto;
  }
  .section05 ul li {
    width: 100%;
    height: 200px;
    float: none;
  }
  .footer .flogo {
    padding: 20px 0;
    float: none;
    margin: 0 auto;
  }
  .footer .info {
    float: none;
    padding: 0 0 30px 0;
    margin: 0 auto;
    text-align: center;
  }
}
@media all and (max-width: 500px){
  .header {
    height: 50px;
  }
  .header h1 a {
    float: none;
    padding: 7px 0 7px 20px;
  }
  .header h1 a {
    width: 93px;
    height: 36px;
    background: url('../images/flogo.png') no-repeat center;
  }
  .header .etc {
    top: 10px;
    right: 60px;
  }
  .header .etc i {
    font-size: 16px;
    padding-right: 0;
  }
  .header .etc .select_lang .lang {
    font-size: 16px;
  }
  .toggle > a.toggle_open {
    width: 50px;
    height: 50px;
  }
  .header .toggle_header .toggle_close {
    width: 50px;
    height: 50px;
  }
  .header .toggle_gnb {
    padding: 50px 0 0;
  }
  .header .toggle_gnb > ul {
    font-size: 0;
    height: 100%;
    padding: 0 20px;
  }
  .header .toggle_gnb > ul > li > h2 {
    padding: 10px 0;
  }
  .section02,
  .section03,
  .section04,
  .section05 {
    margin: 30px 0 0;
  }
  section .tit {
    margin: 0 0 40px;
  }
  .section01 .slick-dots {
    bottom: 100px;
  }
  .section01 .slide-li .txt {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0 20px;
    box-sizing: border-box;
  }
  .section01 .slide-li .txt h2 {
    font-size: 22px;
  }
  .section01 .slide-li.slide-li_bg04 .txt h2 {
    font-size: 20px;
  }
  .section01 .slide-li .txt > span {
    font-size: 14px;
  } 
  .section02 .cont ul li a {
    width: 100%;
    height: 500px;
    margin: 0;
  }
  .section02 .info p {
    text-align: left;
  }
  .section03 > div .tit {
    padding: 20px 0 0;
  }
  .section03 > div .tit p {
    text-align: left;
  }
  .section04 .right p {
    text-align: left;
  }
  .section06 {
    height: 76px;
  }
  .section06 .banner {
    height: 36px;
    padding: 20px 0;
    position: absolute;
    overflow: hidden;
  }
  .section06 .banner img {
    position: absolute;
    width: 104px;
    height: 36px;
  }
  .footer .info {
    padding: 0 0 30px;
    font-size: 12px;
  }
  .footer .addr {
    padding: 0;
  }
  .footer .addr span:first-child {
    padding: 0;
  }
  .footer .copy {
    font-size: 12px;
  }
  .footer .addr span {
    display: block;
    margin: 0 0 10px;
  }
}